@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem;
  font-weight: 700;
}
/* Homepage styles */

.first {
  background-image: url(../src/assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  /*background: var(linear-gradient(100deg, #1E78F0 11.81%, #9716CA 100%));*/
}

.first_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

#logo {
  width: 25%;
  padding-right: 20px;
}

.menu {
  margin-top: 1px;
  margin-bottom: 5px;
  color: white;
  position: relative;
  display: inline-block;
  text-align: center;
}

#menuitem1 {
  margin-right: 50px;
}

#menuitem2 {
  margin-right: 50px;
}

#menuitem3 {
  margin-right: 50px;
}

#menuitem4 {
  margin-right: 50px;
}

.firstbutton {
  margin-right: 20px;
  padding: 10px 30px;
  border: none;
  color: white;
  border-radius: 4px;
  background: linear-gradient(100.39deg, #1e78f0 1.81%, #9716ca 100%);
}

.secondbutton {
  padding: 10px 30px;
  border: 1px solid #fefefe;
  border-radius: 4px;
  color: white;
  background: transparent;
}

.row {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  margin-top: 5px;
  padding-left: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.row .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.medcopy {
  width: 90%;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 600;
  color: white;
  font-family: "Orbitron", sans-serif;
  margin-top: 100px;
}

.secondcopy {
  color: white;
  font-family: "Space Mono", monospace;
}

.try {
  display: flex;
  align-items: center;
}

.trybutton {
  margin-right: 5px;
  padding: 13px 30px;
  border: none;
  color: white;
  border-radius: 4px;
  background: linear-gradient(100.39deg, #1e78f0 1.81%, #9716ca 100%);
  font-family: "Space Mono", monospace;
}

.demophoto {
  margin-left: 50px;
  margin-right: 10px;
  padding-top: 10px;
}

.demobutton {
  color: white;
  background: transparent;
  border: none;
  font-family: "Space Mono", monospace;
}

.aboutsection {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  align-items: center;
  margin-top: 50px;
}

#valuetext {
  text-align: center;
  color: white;
}

.firstline,
.secondline {
  display: flex;
  justify-content: space-between;
}

.firstline {
  margin-top: 35px;
}

.firstline img {
  width: 340px;
}

.secondline {
  margin-top: 30px;
}

.secondline img {
  width: 340px;
}

.div-button {
  text-align: center;
  margin-top: 20px;
  padding: 50px 50px;
}

.viewbut {
  padding: 15px 40px;
  border: none;
  color: white;
  border-radius: 4px;
  background: linear-gradient(100.39deg, #1e78f0 1.81%, #9716ca 100%);
}

.sponsorholder img {
  width: 100%;
  margin-top: 50px;
}

.first_menu {
  padding-left: 100px;
  padding-right: 100px;
}

.textholderr {
  padding-left: 100px;
  padding-right: 100px;
  /*background: #0D366C;*/
  margin-top: 100px;
}

.abouttext {
  flex: 1;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  margin-right: 40px;
}

.readbut {
  margin-right: 5px;
  padding: 10px 40px;
  border: none;
  color: white;
  border-radius: 4px;
  background: linear-gradient(100.39deg, #1e78f0 1.81%, #9716ca 100%);
}

.docimage {
  flex: 1;
  display: flex;
  justify-content: center;
}
.docimage img {
  width: 70%;
  /* margin-left: auto; */
}

.why {
  display: flex;
  align-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  left: 45%;
  font-weight: 500;
  font-family: Space Mono, arial, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.general {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
}

.macbook {
  width: 570px;
  /* height: 356px; */
  flex-shrink: 0;
  /* position: absolute; */
  /* left: 12%; */
  margin-top: 2%;
}

.iPhonepac {
  position: absolute;
  top: 15%;
  left: 72%;
  margin-bottom: 2%;
}

.lpmain {
  position: relative;
  width: 50%;
}

.image {
  /* width: 555px; */
  height: 566px;
  flex-shrink: 0;
  /* margin-left: 8%; */
}
.aboutmed {
  width: 40%;
  /* height: 700px; */
  flex-shrink: 0;
  margin-left: 0px;
  color: #f0f0f0;
  line-height: normal;
  font-family: "Space Mono", monospace;
}
.aboutmed h4,
p {
  margin: 1.33rem 0;
}
.vertical-line {
  width: 1px;
  height: 70px;
  background-color: white;
  position: relative;
  left: 8%;
  font-family: "Space Mono", monospace;
}
.vertmain {
  position: relative;
  padding-left: 2px;
  font-family: "Space Mono", monospace;
  width: 12%;
  padding-bottom: 70px;
}
.num {
  color: white;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 5px;
  margin-top: 40px;
}

.started {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.getstarted {
  align-items: center;
  background-color: purple;
  color: white;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  border-radius: 50px;
  width: 250px;
  border: none;
  height: 40px;
  border-radius: 4px;
  background: var(
    --Button-gradient,
    linear-gradient(100deg, #1e78f0 1.81%, #9716ca 100%)
  );
}
.recbox {
  background: #0d366c;
  background-color: #0d366c;
  margin-top: 2rem;
  padding: 4rem 0;
  backdrop-filter: blur(200px);
  color: #f0f0f0;
  font-family: Space Mono, system-ui, -apple-system, "Segoe UI", "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-style: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.min {
  border-radius: 500px;
  background: rgba(137, 25, 192, 0.57);
  filter: blur(90px);
  width: 300px;
  height: 300px;
  position: absolute;
  flex-shrink: 0;
}

.watch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}
.vidicon {
  width: 40px;
  height: 40px;
}

.mainiphone {
  width: 160px;
  /* height: 292px; */
  flex-shrink: 0;
  /* position: relative; */
  left: 8%;
  /* margin-top: 11%; */
}
.Subscribe {
  color: white;
  font-weight: 500;
  font-family: Space Mono, arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.form-btn {
  color: white;
  border-radius: 4px;
  background: var(
    --Button-gradient,
    linear-gradient(100deg, #1e78f0 1.81%, #9716ca 100%)
  );
  box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14);
  font-size: 18px;
  text-align: center;
  height: 50px;
  width: 180px;
  cursor: pointer;
}
/* input[type="text"] {
  width: 20%;
  height: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
  position: relative;
  left: 38%;
} */
.lastdiv {
  display: flex;
  gap: 40px;
  padding: 2rem 0;
  justify-content: center;
  background-color: #0d366c;
  backdrop-filter: blur(200px);
  align-items: center;
}
.logo {
  height: 80px;
  width: 220px;
}
ul {
  color: #f0f0f0;
  text-decoration: none;
  text-decoration-style: none;
}
a {
  color: #f0f0f0;
  text-decoration: none;
}
.footer {
  padding: 40px 0;
  background-color: #fdf8f7;
  text-align: center;
}

.footer > p {
  color: #15295f;
}

.code {
  text-decoration: none;
  color: #fd6e0a;
}
.subandbut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  gap: 10px;
  align-items: center;
  background-image: url(../src/assets/images/maskgroup.png);
}

.sub__input {
  width: 40% !important;
}
/* dashboard overview page style */
.profile__dash {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.parentdiv {
  display: flex;
  background: var(--foundation-primary-color-darker, #0b2a54);
}

.image-dasboard {
  background: var(--foundation-primary-color-dark-active, #0d366c);
  flex-basis: 30%;
}
.secondcolumn {
  background: var(--foundation-primary-color-darker, #0b2a54);
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.minimenu {
  display: flex;
  gap: 40px;
  list-style: none;
  position: relative;
}
.input {
  width: 500px;
  height: 40px;
  position: relative;
  margin-top: 5%;
}
.search-bar {
  display: flex;
  align-content: space-between;
  gap: 20px;
}
.img1 {
  width: 40px;
  height: 40px;
}
.img2 {
  width: 40px;
  height: 40px;
}
#light {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashbut {
  border-radius: 0px 40px 40px 0px;
  background: var(--foundation-violet-normal-active, #7912a2);
  color: #fffde9;
  display: flex;
  width: 300px;
  height: 60px;
  margin: 100px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 36px;
  font-family: "Space Mono", monospace;
  font-size: 20px;
}
.view {
  text-decoration: none;
  text-align: left;
  color: white;
  font-size: 20px;
  font-family: "Space Mono", monospace;
  line-height: 350%;
  list-style-type: none;
}
.icon {
  position: relative;
  right: 5%;
}
.home1 {
  position: relative;
  margin-top: 50%;
}
.total-dash {
  display: flex;
}
.tot {
  padding: 1rem 0;
  height: 100px;
  font-family: "Space Mono", monospace;
  width: 25%;
  text-align: center;
  border: solid;
  position: relative;
  margin: 24px 0px 24px 24px;
  border-radius: 4px;
  border: 1px solid var(--Button-gradient, #1e78f0);

  /* Drop shadow/large */
  box-shadow: 0px 8px 8px -4px rgba(197, 197, 197, 0.03),
    0px 20px 24px -4px rgba(197, 197, 197, 0.08);
}
.h3 {
  font-family: Space Mono;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Space Mono", monospace;
}
#light {
  font-family: "Space Mono", monospace;
}
table {
  width: 100%;
  border-collapse: collapse;
  height: 20%;
}

td {
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
  font-family: "Space Mono", monospace;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; /* Align the image vertically in the middle of the cell */
}

/* login styles */

.health {
  flex: 1;
}
.logoimage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.signin__image {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}
.from__login {
  flex: 1;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__signin,
.logo__signin {
  width: 100%;
}
.logo__signin p {
  margin-bottom: 1rem;
}
.welcome__signin {
  font-size: 30px;
  font-weight: 600;
}
.maindiv {
  display: flex;
  height: 100vh;
  gap: 1rem;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 8px;
  outline: none;
}

/* input[type="text"]:focus {
  border: 3px solid #fd6e0a;
} */
.signin__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.button1 {
  color: white;
  border-radius: 6px;
  background: var(
    --Button-gradient,
    linear-gradient(100deg, #1e78f0 1.81%, #9716ca 100%)
  );
  box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14);
  font-size: 18px;
  text-align: center;
  width: 50%;
  padding: 0.7rem 0;
  text-align: center;
}
.signup__opt {
  color: #1e78f0;
  text-decoration: underline;
}

/* patient medical record */
.search__dash {
  border: 1px solid white;
  border-radius: 8px;
  padding: 0.2rem 0.4rem;
  display: flex;
  align-items: center;
  width: 400px;
}
.search__dash input {
  background: transparent;
  outline: none !important;
  border: 0;
  padding: 0;
}
.search__dash input:focus {
  border: 0;
}
.parentdiv {
  display: flex;
  height: 100vh;
}

.arrowholder {
  padding-top: 40px;
}

.side-bar {
  margin: 0;
  background: var(--foundation-primary-color-dark-active, #0d366c);
  width: 22%;
  height: 100vh;
  padding: 20px;
}
.secondcolumn {
  overflow-y: scroll;
  padding-left: 30px;
  padding-bottom: 100px;
  background: var(--foundation-primary-color-darker, #0b2a54);
  color: white;
  padding-right: 70px;
  flex: 1;
}

.minimenu {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  font-family: "Space Mono", monospace;
  height: 100px;
}

.lastrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.drb {
  padding-left: 20px;
}

form.example {
  display: flex;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid white;
  /* float: left; */
  width: 80%;
  background: transparent;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.viewbuttons {
  width: 180px;
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: white;
  font-family: "Space Mono", monospace;
}

.viewbuttons:hover {
  width: 180px;
  border: none;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  border-radius: 4px;
  font-family: "Space Mono", monospace;
  background: linear-gradient(100.39deg, #1e78f0 1.81%, #9716ca 100%);
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.search-bar {
  display: flex;
  align-content: space-between;
  gap: 20px;
}

#light {
  text-align: center;
}
.active-link {
  border-radius: 0px 40px 40px 0px;
  background: #7912a2;
  color: #fffde9;
  align-items: center;
}
.view__menu {
  padding-top: 80px;
  padding-left: 20px;
  text-align: left;
  color: white;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  list-style-type: none;
}

.view__menu li {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.view__menu li img {
  margin-right: 20px;
}

.home {
  text-align: left;
  color: white;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  list-style-type: none;
}

.editt {
  display: flex;
  align-items: center;
}

.homeicon {
  width: 30px;
  height: 30px;
  border: 4px;
  padding-top: 15px;
}

.drview {
  display: flex;
  justify-content: space-between;
  font-family: "Space Mono", monospace;
}

.vieww {
  background-color: transparent;
  color: white;
  border: none;
  font-family: "Space Mono", monospace;
}
.h3 {
  font-family: Space Mono;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Space Mono", monospace;
}

.homeicon {
  padding-top: 15px;
  width: 30px;
  height: 30px;
  border: 4px;
}

.personal {
  display: flex;
  justify-content: space-between;
}

.editbutton {
  padding-right: 10px;
}

table {
  font-family: "Space Mono", monospace;
  border-collapse: collapse;
  width: 100%;
}

tr,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

td.borderr {
  border: 1px solid white !important;
}

.emergency {
  font-family: "Space Mono", monospace;
}

.emergencyy {
  display: flex;
  justify-content: space-between;
  font-family: "Space Mono", monospace;
  border: 1px solid white;
  padding: 10px;
}

.immunization {
  display: flex;
  justify-content: space-between;
  font-family: "Space Mono", monospace;
}

.retext {
  border-radius: 8px;
  border: 1px solid #b5b5b5;
}

.tab {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.tab1 {
  border-collapse: collapse;
  width: 62%;
}

.transfer {
  width: 492px;
  height: 45px;
  top: 2332px;
  left: 660px;
  padding: 12px, 444px, 12px, 444px;
  border-radius: 4px;
  gap: 10px;
  background: linear-gradient(100.39deg, #1e78f0 1.81%, #9716ca 100%);
  color: white;
  font-family: "Space Mono", monospace;
}

.update {
  padding-left: 40px;
  width: 491px;
  height: 42px;
  top: 938px;
  left: 14967px;
  padding: 12px, 20px, 12px, 20px;
  border-radius: 4px;
  border: 1px solid white;
  gap: 10px;
  color: white;
  background: transparent;
  font-family: "Space Mono", monospace;
}

.transfercon {
  padding-top: 50px;
  padding-left: 150px;
}

.updatecon {
  padding-top: 30px;
  padding-left: 150px;
}

/* my patient page style */

.parentdiv {
  display: flex;
}

.arrowholder {
  padding-top: 40px;
}

.secondcolumn {
  background: var(--foundation-primary-color-darker, #0b2a54);
  color: white;
  flex: 1;
  padding-right: 70px;
  padding-left: 30px;
  padding-bottom: 100px;
}

.minimenu {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px;
  font-family: "Space Mono", monospace;
  justify-content: space-between;
}

.lastrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.drb {
  padding-left: 20px;
}

form.example {
  display: flex;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid white;
  /* float: left; */
  width: 80%;
  background: transparent;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.viewbuttons {
  width: 180px;
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: white;
  font-family: "Space Mono", monospace;
}

.viewbuttonss {
  width: 180px;
  border: none;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  border-radius: 4px;
  font-family: "Space Mono", monospace;
  background: linear-gradient(100.39deg, #1e78f0 1.81%, #9716ca 100%);
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.search-bar {
  display: flex;
  align-content: space-between;
  gap: 20px;
}
#light {
  text-align: center;
}
.active-link {
  border-radius: 0px 40px 40px 0px;
  background: #7912a2;
  color: #fffde9;
  align-items: center;
  flex-shrink: 0;
  font-family: "Space Mono", monospace;
}
.view {
  padding-top: 80px;
  padding-left: 20px;
  text-align: left;
  color: white;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  list-style-type: none;
}

.home {
  text-align: left;
  color: white;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  list-style-type: none;
  padding-bottom: 20px;
  padding-left: 3px;
}

.homeicon {
  width: 30px;
  height: 30px;
  border: 4px;
  padding-top: 15px;
}

.view li {
  padding: 20px 5px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.view li img {
  margin-right: 20px;
}

.home1 {
  display: flex;
  margin-top: 50%;
}
.views {
  display: flex;
  padding-top: 200px;
}

.total {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  margin-top: 10px;
  gap: 20px;
  border-color: linear-gradient(100.39deg, #1e78f0 1.81%, #9716ca 100%);
}

.pat-tot {
  font-family: "Space Mono", monospace;
  text-align: center;
  border: solid;
  border-radius: 4px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #9716ca;
}
.pat-tot p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.drview {
  display: flex;
  justify-content: space-between;
  font-family: "Space Mono", monospace;
}

.vieww {
  background-color: transparent;
  color: white;
  border: none;
  font-family: "Space Mono", monospace;
}
.h3 {
  font-family: Space Mono;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Space Mono", monospace;
}
#light {
  font-family: "Space Mono", monospace;
}
